body{
	margin: 0;
	font-family: Helvetica;
}
h2{
	font-weight: 100;
}
#container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-color: lightyellow;
	color: black;
}

#logo{
	width: 80px;
	height: 80px;
}